In [1]:
for iteam in 'python':
    print(iteam)

p
y
t
h
o
n

In [2]:
for iteam in ['pyhton','shakil','love','cumha']:
    print(iteam)

pyhton
shakil
love
cumha

In [3]:
for iteam in ['1','2','3','4']:
    print(iteam)

1
2
3
4

In [4]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [18]:
prices = [10,20,30]
total = 0
for price in prices:
    total += price
print(f"total {total}")

total 60

# nested loop

In [22]:
for x in range(4):
    for y in range(4):
        print(f'({x},{y})')

(0,0)
(0,1)
(0,2)
(0,3)
(1,0)
(1,1)
(1,2)
(1,3)
(2,0)
(2,1)
(2,2)
(2,3)
(3,0)
(3,1)
(3,2)
(3,3)